<html lang=en>
    <head>
        <title>Credit</title>
        <!-- scripts -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?u8vidh">
    </head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <body>
        <div id="fb-root"></div>
        <div id="app">
            <name-form v-if="showNameForm"></name-form>
            <top-level v-on:dofbloginevent="facebookLoginHandler" 
                       v-on:dotbloginevent="twitterLoginHandler"
                       v-on:docalculateevent="calculate"
                       v-on:circle-animation-start="animateProgressBar">
            </top-level>
     <!--        <form action="/twitter" method="post">
                <button class="btn btn-primary" type="submit">Twitter</button>
            </form>
            <div id="fb-root"></div>
  -->
        <script>
        // FB.init({
        //     appId      : '197420487525406',
        //     status     : true,
        //     xfbml      : true,
        //     version    : 'v2.7' // or v2.6, v2.5, v2.4, v2.3
        //   });

        // // Load the SDK asynchronously
        // (function(d){
        // var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        // if (d.getElementById(id)) {return;}
        // js = d.createElement('script'); js.id = id; js.async = true;
        // js.src = "//connect.facebook.net/en_US/all.js";
        // ref.parentNode.insertBefore(js, ref);
        // }(document));

        // function login() {
        //     FB.login(function(response) {

        //     // handle the response
        //     FB.api('/1695668353825295', function(response) {
        //         console.log(response);
        //     });

        //     }, {scope: 'read_stream,publish_stream,publish_actions,read_friendlists'});            
        // }

        // function logout() {
        //     FB.logout(function(response) {
        //       // user is now logged out
        //     });
        // }

        // var status = FB.getLoginStatus();

        // console.log(status);

        </script>
<!-- 
        <button onclick="javascript:login();">Login Facebook</button>
        <br>
        <button onclick="javascript:logout();">Logout from Facebook</button>    
 -->        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/build/main.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
    
</html>
